# Unreal Engine - Heavy folders
Content/
Binaries/
DerivedDataCache/
Intermediate/
Saved/
Build/
Plugins/*/Binaries/
Plugins/*/Intermediate/
Plugins/*/Content/

# Visual Studio
.vs/
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

# Compiled files
*.obj
*.exe
*.dll
*.lib
*.pdb

# Other
.vscode/
*.log
*.tmp